body {
  margin:0;
  background-color: grey;
  text-align: center;
}

header{
  text-align: left;
  background-color: rgb(255, 255, 255);

}
.logo{
  width: 180px;

  }

  .caixaT, .ft {
    width: 50%; /* Ou a largura desejada */
    margin: 0 auto; 
    margin-top: 20px;
    display: inline-block;
  }
.caixaT{
color: white;
text-align: left;
font-family: 'Times New Roman', Times, serif;
}
.ft{
  border-radius: 20px;
  width: 300px;
}


#Box{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.Galeria{
  border-radius: 15px;
  width: 330px;
}

footer{
  
  margin-top: 50px;
  padding: 2px;
  background-color: white;

}

.pe{

  text-align: left;
  margin-left: 20px;
  font: bold 20px black;

}